@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

body {
  font-family: "Karla", sans-serif;
}

@media (max-width: 576px) {
  input[type="submit"] {
    margin-top: 1em;
    width: 30%;
  }
}
