@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

body {
  font-family: "Karla", sans-serif;
}

@media (max-width: 576px) {
  input[type="submit"] {
    margin-top: 1em;
    width: 30%;
  }
}

@media (max-width: 1000px) {
  input[type="submit"] {
    margin-top: 1em;
    width: 30%;
  }
}

h3 {
  font-size: 1.4rem;
}

#todo-items {
  max-height: 47vh;
  overflow-y: scroll;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 770px) {
  footer {
    display: none;
  }
}

@media (max-height: 700px) {
  footer {
    display: none;
  }
}
